{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "fsd"
  ],
  "extends": [
    "eslint:recommended",
    // "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:fsd/all"
  ],
  "rules": {
    "linebreak-style": 0,
    "prefer-rest-params": 0
  }
}