doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-link(rel="shortcut icon" href="../../favicon/logo.svg")
    title Range-sliders
  body
    .range-sliders
      .range-sliders__block
        .range-sliders__wrapper
          //- Оболочка для плагина
          #grs-one.range-slider
        .range-sliders__about
          input
          input(type="checkbox")
          input(type="range")
          input
          input(type="checkbox")
          input(type="range")
          input
          input(type="button")
          input(type="range")
      .range-sliders__block
        .range-sliders__wrapper
          //- Оболочка для плагина
          #grs-two.range-slider
        .range-sliders__about
          input
          input(type="checkbox")
          input
          input(type="button")
          input(type="range")
