doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-link(rel="shortcut icon" href="../../favicon/logo.svg")
    title Range-sliders
  body
    .range-sliders
      .range-sliders__block
        .range-sliders__wrapper
          //- Оболочка для плагина
          #grs-one.range-slider
        .range-sliders__about
          label
            input(type="checkbox")
            span withPointer
          label
            input(type="checkbox")
            span withScale
          label
            input(type="checkbox")
            span isInterval
          label
            input(type="checkbox")
            span isVertical
          label
            input()
            span minLimit
          label
            input()
            span maxLimit
          label
            input()
            span step
          label
            input()
            span minValue
          label
            input()
            span maxValue
      .range-sliders__block
        .range-sliders__wrapper
          //- Оболочка для плагина
          #grs-two.range-slider
        .range-sliders__about
          label
            input(type="checkbox")
            span withPointer
          label
            input(type="checkbox")
            span withScale
          label
            input(type="checkbox")
            span isInterval
          label
            input(type="checkbox")
            span isVertical
          label
            input()
            span minLimit
          label
            input()
            span maxLimit
          label
            input()
            span step
          label
            input()
            span minValue
          label
            input()
            span maxValue
