doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-link(rel="shortcut icon" href="../../favicon/logo.svg")
    title Sliders
  body
    .sliders
      .slider__block
        .slider__wrapper
          .slider.slider--first.slider-here
        .slider__about
      .slider__block
        .slider__wrapper
          .slider.slider--second.slider-here
        .slider__about
